/*  your css code here. If applicable */
#container {
	margin:20px;
	/* display:flex; */
}
.para::before {
	content:"Before Element ";
	color:red;
}
.para::after{
	content:" After Element";
	color:red;
}