/*  your css code here. If applicable */
#container {
	margin:20px;
	position:relative;
}
.para::before {
	content: "Before Element ";
	color:rgb(255, 0, 0);
	font-size:20px;
	display:inline;
}
.para::after{
	content:" After Element";
	color:rgb(255, 0, 0);
	font-size:20px;
	display:inline;
}